@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #0f172a;

  --color-primary: #2563eb;
  --color-primary-foreground: #ffffff;

  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;

  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;

  --color-border: #e2e8f0;

  --radius-md: 0.5rem;
  --radius-lg: 1rem;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-inter), sans-serif;
  }
}
